:root {
  --primary-color: #e50914;
  --dark-color: #222;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
  background: #000;
  color: #999;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}

h2 {
  font-size: 1.625rem;
  font-weight: 400;
  color: #fff;
  line-height: 2.125rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  pading: 0.5rem 0;
}

li {
  list-style: none;
}

img {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

/* Showcase */
.showcase {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/netflix-background.jpg") no-repeat center center /
    cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "showcase-top"
    "showcase-content";
  align-items: center;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 120px 100px 250px rgba(0, 0, 0, 0.6),
    -120px -100px 250px rgba(0, 0, 0, 0.5);
}

.showcase-top {
  grid-area: showcase-top;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 0 50px;
  z-index: 2;
}

.showcase-top img {
  width: 180px;
  height: auto;
}

.showcase-content {
  grid-area: showcase-content;
  margin: auto;
  /* width: 55%; */
  max-width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 125px;
  z-index: 2;
}

.showcase-content h2 {
  margin: 1rem auto;
}

.showcase-content h3:last-child {
  margin: 1.75rem auto;
}

/* Cards */
.card {
  padding: 50px 5%;
  border-top: 8px solid var(--dark-color);
}

.card .container {
  position: relative;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin: 0 auto;
}

.animation-container {
  grid-column: span 4;
}

.card-text {
  grid-column: span 5;
}

.card .card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3rem;
}

#card-2 .card-text {
  padding: 0 0 0 3rem;
}

#card-3 .card-text {
  padding-right: 4rem;
}

.card h1 {
  font-size: 3.125rem;
  line-height: 3.45rem;
  margin-bottom: 1.2rem;
}

#card-2 .animation-container {
  position: relative;
  right: 80px;
}

#card-3 .animation-container {
  width: 113%;
}

/* FAQ */
#faq .container {
  position: relative;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1.75rem 0;
}

#faq h1 {
  text-align: center;
  margin: 0.8rem 0;
}

#faq ul {
  width: 75%;
  margin: 2em auto;
}

#faq li {
  width: 100%;
  font-size: 1.625rem;
  font-weight: 400;
  color: #fff;
  line-height: 2.125rem;
  margin-bottom: 8px;
  border: none;
}

.btn-content {
  background: #303030;

  height: 0px;
  overflow: hidden;
  /* display: none; */
}

.show {
  height: 100%;
  padding: 1.2em;
  /* display: block; */
}

/* Footer */
#footer .container {
  max-width: 950px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.75rem 0;
}

#footer p {
  margin-bottom: 2rem;
}

.footer-links {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

#footer li {
  margin-bottom: 1rem;
}
#footer a {
  color: #999;
  font-size: 0.8rem;
}

/* Form */
.form {
  max-width: 950px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form h3 {
  padding-bottom: 20px;
  text-align: center;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.form input {
  min-height: 70px;
  min-width: 500px;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border-radius: 2px;
  border: none;
}

/* Buttons */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--primary-color);
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  outline: none;
  align-self: auto;
  white-space: nowrap;
}

.btn:hover {
  background: #f40612;
}

.btn-lg {
  text-transform: uppercase;
  font-size: 1.875rem;
  padding: 1rem 1.25rem;
}

.btn-round {
  border-radious: 4px;
}

.btn-icon {
  padding-left: 1rem;
}

.btn-faq {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.625rem;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
  line-height: 2.125rem;
  background: #303030;
  padding: 0.8em 1.2em;
  outline: none;
  border: none;
  margin-bottom: 2px;
}

.icon-rotate {
  transform: rotate(45deg);
  /* transform-origin: top center; */
}
